*.DS_Store

build/.DS_Store
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/cmake.verify_globs
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/VerifyGlobs.cmake
build/CMakeFiles/3.23.1/CMakeCCompiler.cmake
build/CMakeFiles/3.23.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.23.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.23.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.23.1/CMakeSystem.cmake
build/CMakeFiles/3.23.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/all-product-headers.yaml
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-all-non-framework-target-headers.hmap
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-all-target-headers.hmap
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-generated-files.hmap
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-own-target-headers.hmap
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-project-headers.hmap
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC.hmap
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.d
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.dia
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.o
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CompilerIdC_dependency_info.dat
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CompilerIdC.LinkFileList
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.xcodeproj/project.pbxproj
build/CMakeFiles/3.23.1/CompilerIdC/XCBuildData/3476bb6a640d42021d90180c6422eefc-buildRequest.json
build/CMakeFiles/3.23.1/CompilerIdC/XCBuildData/3476bb6a640d42021d90180c6422eefc-desc.xcbuild
build/CMakeFiles/3.23.1/CompilerIdC/XCBuildData/3476bb6a640d42021d90180c6422eefc-manifest.xcbuild
build/CMakeFiles/3.23.1/CompilerIdC/XCBuildData/3476bb6a640d42021d90180c6422eefc-targetGraph.txt
build/CMakeFiles/3.23.1/CompilerIdC/XCBuildData/build.db
build/CMakeFiles/3.23.1/CompilerIdC/XCBuildData/BuildDescriptionCacheIndex-f0646b5b3e070efaedc4a12cb00e6ac3
build/CMakeFiles/3.23.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/all-product-headers.yaml
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-non-framework-target-headers.hmap
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-target-headers.hmap
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-generated-files.hmap
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-own-target-headers.hmap
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-project-headers.hmap
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.hmap
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.d
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.dia
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.o
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CompilerIdCXX_dependency_info.dat
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CompilerIdCXX.LinkFileList
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.xcodeproj/project.pbxproj
build/CMakeFiles/3.23.1/CompilerIdCXX/XCBuildData/285ac4d6e3a765c593610e1e78820938-buildRequest.json
build/CMakeFiles/3.23.1/CompilerIdCXX/XCBuildData/285ac4d6e3a765c593610e1e78820938-desc.xcbuild
build/CMakeFiles/3.23.1/CompilerIdCXX/XCBuildData/285ac4d6e3a765c593610e1e78820938-manifest.xcbuild
build/CMakeFiles/3.23.1/CompilerIdCXX/XCBuildData/285ac4d6e3a765c593610e1e78820938-targetGraph.txt
build/CMakeFiles/3.23.1/CompilerIdCXX/XCBuildData/build.db
build/CMakeFiles/3.23.1/CompilerIdCXX/XCBuildData/BuildDescriptionCacheIndex-c9b5402f35dc037d58f18f93171154d5
build/CMakeScripts/ReRunCMake.make
build/Matrix.xcodeproj/project.pbxproj
build/Matrix.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
build/Matrix.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
build/Matrix.xcodeproj/project.xcworkspace/xcuserdata/jianpeng.xcuserdatad/UserInterfaceState.xcuserstate
build/Matrix.xcodeproj/project.xcworkspace/xcuserdata/jianpeng.xcuserdatad/WorkspaceSettings.xcsettings
build/Matrix.xcodeproj/xcuserdata/jianpeng.xcuserdatad/xcschemes/xcschememanagement.plist
build/build/XCBuildData/804ea14ef8c558c1def60e1a013623bc-buildRequest.json
build/build/XCBuildData/804ea14ef8c558c1def60e1a013623bc-desc.xcbuild
build/build/XCBuildData/804ea14ef8c558c1def60e1a013623bc-manifest.xcbuild
build/build/XCBuildData/804ea14ef8c558c1def60e1a013623bc-targetGraph.txt
build/build/XCBuildData/a4e665f884f128e53fd71577abcfdcc4-buildRequest.json
build/build/XCBuildData/a4e665f884f128e53fd71577abcfdcc4-desc.xcbuild
build/build/XCBuildData/a4e665f884f128e53fd71577abcfdcc4-manifest.xcbuild
build/build/XCBuildData/a4e665f884f128e53fd71577abcfdcc4-targetGraph.txt
build/build/XCBuildData/build.db
build/build/XCBuildData/BuildDescriptionCacheIndex-0a1ba0aa6568f7a02472909adec87ed8
build/build/XCBuildData/c4584fdda09b39860724e0aee87b51c4-buildRequest.json
build/build/XCBuildData/c4584fdda09b39860724e0aee87b51c4-desc.xcbuild
build/build/XCBuildData/c4584fdda09b39860724e0aee87b51c4-manifest.xcbuild
build/build/XCBuildData/c4584fdda09b39860724e0aee87b51c4-targetGraph.txt
build/engine/cmake_install.cmake
build/engine/3rdparty/cmake_install.cmake
build/engine/3rdparty/glfw/cmake_install.cmake
build/engine/3rdparty/glfw/CMakeScripts/ReRunCMake.make
build/engine/3rdparty/glfw/GLFW.xcodeproj/project.pbxproj
build/engine/3rdparty/glfw/GLFW.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
build/engine/3rdparty/glfw/src/cmake_install.cmake
build/engine/3rdparty/glfw/src/glfw_config.h
build/engine/3rdparty/glfw/src/glfw3.pc
build/engine/3rdparty/glfw/src/glfw3Config.cmake
build/engine/3rdparty/glfw/src/glfw3ConfigVersion.cmake
build/engine/source/runtime/cmake_install.cmake
bin/Debug/libglfw3.a
bin/Debug/MatrixRuntime
build/Matrix.build/Debug/ALL_BUILD.build/Script-D9C377AD33BA7591652E3262.sh
build/Matrix.build/Debug/ZERO_CHECK.build/Script-150C0CEAE35F1F207ACCF98A.sh
build/build/XCBuildData/26a32fa6e6a8715806319c900980d915-buildRequest.json
build/build/XCBuildData/26a32fa6e6a8715806319c900980d915-desc.xcbuild
build/build/XCBuildData/26a32fa6e6a8715806319c900980d915-manifest.xcbuild
build/build/XCBuildData/26a32fa6e6a8715806319c900980d915-targetGraph.txt
build/build/XCBuildData/96cee421cf1bcf5bc903b050bec9d477-buildRequest.json
build/build/XCBuildData/96cee421cf1bcf5bc903b050bec9d477-desc.xcbuild
build/build/XCBuildData/96cee421cf1bcf5bc903b050bec9d477-manifest.xcbuild
build/build/XCBuildData/96cee421cf1bcf5bc903b050bec9d477-targetGraph.txt
build/build/XCBuildData/103fe8a0dc9307d57ce5f141c5d7715b-buildRequest.json
build/build/XCBuildData/103fe8a0dc9307d57ce5f141c5d7715b-desc.xcbuild
build/build/XCBuildData/103fe8a0dc9307d57ce5f141c5d7715b-manifest.xcbuild
build/build/XCBuildData/103fe8a0dc9307d57ce5f141c5d7715b-targetGraph.txt
build/build/XCBuildData/45491b5d5ae5dbaaa9d95f5535689ddc-buildRequest.json
build/build/XCBuildData/45491b5d5ae5dbaaa9d95f5535689ddc-targetGraph.txt
build/build/XCBuildData/65506d889ef7e73c994fb4d74673e0e0-buildRequest.json
build/build/XCBuildData/65506d889ef7e73c994fb4d74673e0e0-desc.xcbuild
build/build/XCBuildData/65506d889ef7e73c994fb4d74673e0e0-manifest.xcbuild
build/build/XCBuildData/65506d889ef7e73c994fb4d74673e0e0-targetGraph.txt
build/build/XCBuildData/ba0014e75bcf13d808b912b838de320b-buildRequest.json
build/build/XCBuildData/ba0014e75bcf13d808b912b838de320b-targetGraph.txt
build/build/XCBuildData/c52613e85b3708b4d506913341435c31-buildRequest.json
build/build/XCBuildData/c52613e85b3708b4d506913341435c31-targetGraph.txt
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_init.d
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_init.dia
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_init.o
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_joystick.d
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_joystick.dia
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_joystick.o
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_monitor.d
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_monitor.dia
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_monitor.o
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_time.d
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_time.dia
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_time.o
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_window.d
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_window.dia
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_window.o
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/context.d
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/context.dia
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/context.o
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/egl_context.d
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/egl_context.dia
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/egl_context.o
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/glfw3_libtool_dependency_info.dat
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/glfw3.LinkFileList
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/init.d
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/init.dia
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/init.o
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/input.d
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/input.dia
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/input.o
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/monitor.d
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/monitor.dia
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/monitor.o
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/nsgl_context.d
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/nsgl_context.dia
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/nsgl_context.o
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/osmesa_context.d
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/osmesa_context.dia
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/osmesa_context.o
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/posix_thread.d
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/posix_thread.dia
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/posix_thread.o
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/vulkan.d
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/vulkan.dia
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/vulkan.o
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/window.d
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/window.dia
build/engine/3rdparty/glfw/src/Matrix.build/Debug/glfw.build/Objects-normal/x86_64/window.o
build/engine/3rdparty/glm/cmake_install.cmake
build/engine/3rdparty/glm/cmake_uninstall.cmake
build/engine/3rdparty/glm/CMakeScripts/ReRunCMake.make
build/engine/3rdparty/glm/glm/cmake_install.cmake
build/engine/3rdparty/glm/glm/Matrix.build/Debug/glm_static.build/Objects-normal/x86_64/glm_static_libtool_dependency_info.dat
build/engine/3rdparty/glm/glm/Matrix.build/Debug/glm_static.build/Objects-normal/x86_64/glm_static.LinkFileList
build/engine/3rdparty/glm/glm/Matrix.build/Debug/glm_static.build/Objects-normal/x86_64/glm.d
build/engine/3rdparty/glm/glm/Matrix.build/Debug/glm_static.build/Objects-normal/x86_64/glm.dia
build/engine/3rdparty/glm/glm/Matrix.build/Debug/glm_static.build/Objects-normal/x86_64/glm.o
build/engine/3rdparty/glm/glm.xcodeproj/project.pbxproj
build/engine/3rdparty/glm/glm.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
build/engine/source/runtime/Matrix.build/Debug/MatrixRuntime.build/MatrixRuntime.xcent
build/engine/source/runtime/Matrix.build/Debug/MatrixRuntime.build/DerivedSources/Entitlements.plist
build/engine/source/runtime/Matrix.build/Debug/MatrixRuntime.build/Objects-normal/x86_64/glad.d
build/engine/source/runtime/Matrix.build/Debug/MatrixRuntime.build/Objects-normal/x86_64/glad.dia
build/engine/source/runtime/Matrix.build/Debug/MatrixRuntime.build/Objects-normal/x86_64/glad.o
build/engine/source/runtime/Matrix.build/Debug/MatrixRuntime.build/Objects-normal/x86_64/main.d
build/engine/source/runtime/Matrix.build/Debug/MatrixRuntime.build/Objects-normal/x86_64/main.dia
build/engine/source/runtime/Matrix.build/Debug/MatrixRuntime.build/Objects-normal/x86_64/main.o
build/engine/source/runtime/Matrix.build/Debug/MatrixRuntime.build/Objects-normal/x86_64/MatrixRuntime_dependency_info.dat
build/engine/source/runtime/Matrix.build/Debug/MatrixRuntime.build/Objects-normal/x86_64/MatrixRuntime.LinkFileList
bin/Debug/libglm_static.a
