*.DS_Store

build/.DS_Store
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/cmake.verify_globs
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/VerifyGlobs.cmake
build/CMakeFiles/3.23.1/CMakeCCompiler.cmake
build/CMakeFiles/3.23.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.23.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.23.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.23.1/CMakeSystem.cmake
build/CMakeFiles/3.23.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/all-product-headers.yaml
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-all-non-framework-target-headers.hmap
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-all-target-headers.hmap
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-generated-files.hmap
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-own-target-headers.hmap
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-project-headers.hmap
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC.hmap
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.d
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.dia
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CMakeCCompilerId.o
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CompilerIdC_dependency_info.dat
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/x86_64/CompilerIdC.LinkFileList
build/CMakeFiles/3.23.1/CompilerIdC/CompilerIdC.xcodeproj/project.pbxproj
build/CMakeFiles/3.23.1/CompilerIdC/XCBuildData/3476bb6a640d42021d90180c6422eefc-buildRequest.json
build/CMakeFiles/3.23.1/CompilerIdC/XCBuildData/3476bb6a640d42021d90180c6422eefc-desc.xcbuild
build/CMakeFiles/3.23.1/CompilerIdC/XCBuildData/3476bb6a640d42021d90180c6422eefc-manifest.xcbuild
build/CMakeFiles/3.23.1/CompilerIdC/XCBuildData/3476bb6a640d42021d90180c6422eefc-targetGraph.txt
build/CMakeFiles/3.23.1/CompilerIdC/XCBuildData/build.db
build/CMakeFiles/3.23.1/CompilerIdC/XCBuildData/BuildDescriptionCacheIndex-f0646b5b3e070efaedc4a12cb00e6ac3
build/CMakeFiles/3.23.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/all-product-headers.yaml
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-non-framework-target-headers.hmap
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-target-headers.hmap
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-generated-files.hmap
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-own-target-headers.hmap
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-project-headers.hmap
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.hmap
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.d
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.dia
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CMakeCXXCompilerId.o
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CompilerIdCXX_dependency_info.dat
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/x86_64/CompilerIdCXX.LinkFileList
build/CMakeFiles/3.23.1/CompilerIdCXX/CompilerIdCXX.xcodeproj/project.pbxproj
build/CMakeFiles/3.23.1/CompilerIdCXX/XCBuildData/285ac4d6e3a765c593610e1e78820938-buildRequest.json
build/CMakeFiles/3.23.1/CompilerIdCXX/XCBuildData/285ac4d6e3a765c593610e1e78820938-desc.xcbuild
build/CMakeFiles/3.23.1/CompilerIdCXX/XCBuildData/285ac4d6e3a765c593610e1e78820938-manifest.xcbuild
build/CMakeFiles/3.23.1/CompilerIdCXX/XCBuildData/285ac4d6e3a765c593610e1e78820938-targetGraph.txt
build/CMakeFiles/3.23.1/CompilerIdCXX/XCBuildData/build.db
build/CMakeFiles/3.23.1/CompilerIdCXX/XCBuildData/BuildDescriptionCacheIndex-c9b5402f35dc037d58f18f93171154d5
build/CMakeScripts/ReRunCMake.make
build/Matrix.xcodeproj/project.pbxproj
build/Matrix.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
build/Matrix.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
build/Matrix.xcodeproj/project.xcworkspace/xcuserdata/jianpeng.xcuserdatad/UserInterfaceState.xcuserstate
build/Matrix.xcodeproj/project.xcworkspace/xcuserdata/jianpeng.xcuserdatad/WorkspaceSettings.xcsettings
build/Matrix.xcodeproj/xcuserdata/jianpeng.xcuserdatad/xcschemes/xcschememanagement.plist
build/build/XCBuildData/804ea14ef8c558c1def60e1a013623bc-buildRequest.json
build/build/XCBuildData/804ea14ef8c558c1def60e1a013623bc-desc.xcbuild
build/build/XCBuildData/804ea14ef8c558c1def60e1a013623bc-manifest.xcbuild
build/build/XCBuildData/804ea14ef8c558c1def60e1a013623bc-targetGraph.txt
build/build/XCBuildData/a4e665f884f128e53fd71577abcfdcc4-buildRequest.json
build/build/XCBuildData/a4e665f884f128e53fd71577abcfdcc4-desc.xcbuild
build/build/XCBuildData/a4e665f884f128e53fd71577abcfdcc4-manifest.xcbuild
build/build/XCBuildData/a4e665f884f128e53fd71577abcfdcc4-targetGraph.txt
build/build/XCBuildData/build.db
build/build/XCBuildData/BuildDescriptionCacheIndex-0a1ba0aa6568f7a02472909adec87ed8
build/build/XCBuildData/c4584fdda09b39860724e0aee87b51c4-buildRequest.json
build/build/XCBuildData/c4584fdda09b39860724e0aee87b51c4-desc.xcbuild
build/build/XCBuildData/c4584fdda09b39860724e0aee87b51c4-manifest.xcbuild
build/build/XCBuildData/c4584fdda09b39860724e0aee87b51c4-targetGraph.txt
build/engine/cmake_install.cmake
build/engine/3rdparty/cmake_install.cmake
build/engine/3rdparty/glfw/cmake_install.cmake
build/engine/3rdparty/glfw/CMakeScripts/ReRunCMake.make
build/engine/3rdparty/glfw/GLFW.xcodeproj/project.pbxproj
build/engine/3rdparty/glfw/GLFW.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
build/engine/3rdparty/glfw/src/cmake_install.cmake
build/engine/3rdparty/glfw/src/glfw_config.h
build/engine/3rdparty/glfw/src/glfw3.pc
build/engine/3rdparty/glfw/src/glfw3Config.cmake
build/engine/3rdparty/glfw/src/glfw3ConfigVersion.cmake
build/engine/source/runtime/cmake_install.cmake
bin/Debug/libglfw3.a
bin/Debug/MatrixRuntime
